body{
  background-color: rgba(128, 128, 128, 0.329);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header{
  height: 200px;
  width: 100%;
  background-color: rgba(20, 92, 80, 0.945);
  padding: 20px 0px 0px 0px;
  /* display: flex; */
  /* justify-content: center; */
}

ul {
  /* margin-block-start: 0em; */
  padding-inline-start: 0px;
}

header > h1 {
  text-align: center;
  color: white;
}

header > ul {
  display: flex;
  height: 30px;
  padding: 0px 0px 0px 0px;
}

header > nav {
  display: flex;
  justify-content: center;
}

header  ul > li {
  list-style-type: none;
  display: inline-block;
  height: 30px;
  border-bottom: 1px solid white;
  margin: 0px 30px;
  padding: 0px 10px;
}

header ul > li > a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

main{
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  /* height: 100px; */
  padding: 20px 15px 0px 15px;
  margin: 25px 0px 0px 0px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.356);
}

main > h2 {
  text-align: center;
  margin: 0px 0px;
}

main > ul {
  margin: 20px 0px 0px 0px;
  /* margin-block-start: 0em; */
  margin-block-end: 0em;
  list-style-type: none;
  width: 100%;
}

main > button {
  margin: 20px 0px;
  font-size: 11px;
  font-weight: 700;
  cursor: pointer;
}

main li:first-child{
  display: none;
}

main > ul form {
    display: flex;
    position: relative;
    align-items: center;
    font-size: 15px;
    width: 100%;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.192);
}

main li input{
  margin: 0px 0px 0px 10px;
}

main li button{
  position: absolute;
  right: 10px;
  height: 25px;
  /* float: right; */
  line-height: 22px;
  font-weight: 600;
}

main li p {
  font-weight: bold;
  margin: 10px 5px;
}










